.container {
    border: 8px solid black;
}

.row {
    border: 2px solid red;
}

.col-md,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    border: solid 6px green;
}

body {
    /* background-color: gray; */
}

#header {
    background-color: orange;
    padding         : 10px 0;
}

#menu {
    background-color: pink;
}

#menu ul {
    list-style: none;
    padding   : 8px 0px;
    margin    : 0;
}

#menu ul li {
    display: inline-block;

}

#content {
    background-color: white;
}

#sidebar {
    background-color: lightblue;
}

#footer {
    background-color: orange;
}


.pink {
    background-color: pink;
}

.blue {
    background-color: #4aa6ee;
    color           : black
}

.orange {
    background-color: #f39c12;
}

.green {
    background-color: yellowgreen;
}

.big {
    font-size: 2rem;
}

.h-400px {
    height: 600px;
}